@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Http
@inject NavigationManager Navigation
<AuthorizeView>
    <Authorized>
        <p>
            @context.User.Claims.Where(s=>s.Type.IndexOf("emailaddress")>=0).FirstOrDefault().Value.ToString()
       </p>
       <a href="auth/logout" class="btn btn-primary mb-3">Close sesión</a>  
    </Authorized>
    <NotAuthorized>   
        <input style="width: 50%;" class="form-control">
        <a style="width: 200px;" href="auth/signin-google" class="form-control btn btn-primary">Login sesión width Google</a>   
    </NotAuthorized>  
</AuthorizeView>
@code {
   
}
