@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>



<div class="main" style="background:#edf1f5">
    <div class="top-row px-4">
        <BlazorPoPupDemo_Server.components.AccountsGoogle/>

    </div>

    <div class="content px-4">
        @Body

    </div>


    
    

</div>
