<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Google Keep</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lista
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddNotePage">
                <span class="oi oi-plus" aria-hidden="true"></span> Crear Nota
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="archiveds">
                <span class="fa fa-archive" aria-hidden="true"></span> Archivados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="removes">
                <span class="fa fa-trash" aria-hidden="true"></span> Eliminados
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
